<template name="AccessDenied">

  <div class="ui center aligned fluid container welcome">
    <div class="masthead segment">
      <h1>Sangbasen</h1>

      <a class="ui inverted basic button" href="{{pathFor route='atSignIn'}}">
        Logg inn
      </a>
      <a class="ui inverted basic button" href="{{pathFor route='atSignUp'}}">
        Registrer deg
      </a>
    </div>
    <h1>Last opp noter, akkorder og backingtracks</h1>
    <h3>I Sangbasen kan du lagre alle notene dine, og samtidig gi andre gleden av å bruke dem.</h3>
    <div class="ui center aligned grid">
      <div class="fourteen wide tablet six wide computer column">
        <div class="ui segments">
          <div class="ui segment">
            <p>Søk på tittel, artist, sjanger</p>
          </div>
          <div class="ui segment">
            <p>Last opp PDF, akkorder, backingtracks</p>
          </div>
          <div class="ui segment">
            <p>Lagre favorittsanger</p>
          </div>
          <div class="ui segment">
            <p>Bygg inn Spotify-link</p>
          </div>
          <div class="ui segment">
            <p>Helt gratis!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>
