<template name="insertSongForm">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui dimmer">
        <div class="ui big text loader">Laster opp fil... {{progress}}%</div>
      </div>
      <div class="row">
        <div class="column">
          <h1 class="ui dividing header">Legg til ny sang</h1>

          {{> helpTexts}}

        </div>
      </div>
    </div>

    {{#autoForm collection="Songs" id="insertSongForm" type="insert"}}
      <div class="ui stackable grid">
        <div class="five wide column">

          {{> songForm}}

          <div class="field">
            <label>Last opp playbackspor</label>
            <input type="file" class="uploadFile" id="file-track">
          </div>
          <div class="playbackUrl hideMe">
            {{> afQuickField name='track'}}
          </div>
        </div>

        <div class="eleven wide column">
          {{> afQuickField name='chords'}}

          {{> chordHelpText}}

        </div>

        <div class="row">
          <div class="right aligned column">
            <button type="submit" class="ui tiny labeled green icon button">
              <i class="check icon"></i>
              Legg til
            </button>
          </div>
        </div>
      </div>
    {{/autoForm}}
  </div>

</template>
