<template name="editSong">
  <div class="ui container">
    {{#if isOwner}}
      <div class="ui grid">
        <div class="ui dimmer">
          <div class="ui big text loader">Laster opp fil... {{progress}}%</div>
        </div>
        <div class="row">
          <div class="column">
            <h1 class="ui dividing header">Endre {{title}}</h1>
          </div>
        </div>
      </div>

      {{#autoForm collection="Songs" doc=this id="editSongForm" type="update"}}
        <div class="ui stackable grid">
          <div class="six wide column">
            {{> afQuickField name='file'}}
            {{> afQuickField name='title'}}
            {{> afQuickField name='artist'}}
            {{> afQuickField name='spotify'}}
            {{> afQuickField name='genre'}}
            {{> afQuickField name='key'}}
            <p class="small text-muted">Om sangen starter eller slutter i Em, vil tonearten være parallelltonearten G.</p>
            <div class="field">
              <label>Last opp playbackspor</label>
              <input type="file" class="uploadFile" id="file-track">
            </div>
            <div class="playbackUrl">
              {{> afQuickField name='track'}}
            </div>
          </div>

          <div class="ten wide column">
            {{> afQuickField name='chords'}}
            <div class="ui tiny right floated icon button hjelp">
              <i class="help icon"></i>
            </div>
            <div class="ui hjelpetekst popup">
              <p>Akkordene skrives over på linja over teksten. Du kan ikke ha tekst og akkorder på samme linje.</p>
              <p>I akkordrekker uten tekst under (f.eks. intro) bør det være 3 mellomrom mellom hver akkord.</p>
              <p>H-akkorder skrives på norsk med H, ikke engelsk B, Bm, etc.</p>
            </div>
          </div>
          <div class="row">
            <div class="right aligned column">
              <a class="ui left floated tiny labeled red icon button deleteSong">
                <i class="trash icon"></i>
                Slett
              </a>
              <a class="ui tiny labeled icon button" href="{{pathFor route='Song'}}">
                <i class="close icon"></i>
                Avbryt
              </a>
              <button type="submit" class="ui tiny labeled green icon button">
                <i class="check icon"></i>
                Oppdater
              </button>
            </div>
          </div>
        </div>
      {{/autoForm}}
    {{else}}
      {{#if isInRole 'admin'}}

      {{else}}
        <h1>Du kan ikke endre andre sine sanger</h1>
      {{/if}}
    {{/if}}
  </div>
</template>
