<template name="editSong">
  <div class="ui container">
    {{#if isOwner}}
      <div class="ui grid">
        <div class="ui dimmer">
          <div class="ui big text loader">Laster opp fil... {{progress}}%</div>
        </div>
        <div class="row">
          <div class="column">
            <h1 class="ui dividing header">Endre {{title}}</h1>

            {{> helpTexts}}

          </div>
        </div>
      </div>

      {{#autoForm collection="Songs" doc=this id="editSongForm" type="update"}}
        <div class="ui stackable grid">
          <div class="five wide column">

            {{> songForm}}

            <div class="field">
              <label>Last opp playbackspor</label>
              <input type="file" class="uploadFile" id="file-track">
            </div>
            <div class="playbackUrl">
              {{> afQuickField name='track'}}
            </div>
          </div>

          <div class="eleven wide column">
            {{> afQuickField name='chords'}}

            {{> chordHelpText}}

          </div>
          <div class="row">
            <div class="right aligned column">
              <a class="ui left floated tiny labeled red icon button deleteSong">
                <i class="trash icon"></i>
                Slett
              </a>
              <a class="ui tiny labeled icon button" href="{{pathFor route='Song'}}">
                <i class="close icon"></i>
                Avbryt
              </a>
              <button type="submit" class="ui tiny labeled green icon button">
                <i class="check icon"></i>
                Oppdater
              </button>
            </div>
          </div>
        </div>
      {{/autoForm}}
    {{else}}
      {{#if isInRole 'admin'}}

      {{else}}
        <h1>Du kan ikke endre andre sine sanger</h1>
      {{/if}}
    {{/if}}
  </div>
</template>
