<template name="searchBox">
  <div class="row">
    <div class="col-xs-12 searchInput">
      {{> EasySearch.Input index=songsIndex attributes=inputAttributes }}
    </div>
  </div>

  <br>

  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th id="sortTitle" class="selected"><span title="Sorter etter tittel" data-toggle="tooltip" data-placement="top">Tittel</span></th>
        <th id="sortArtist"><span title="Sorter etter artist" data-toggle="tooltip" data-placement="top">Artist</span></th>
        <th id="sortGenre" class="hidden-xs"><span title="Sorter etter sjanger" data-toggle="tooltip" data-placement="top">Sjanger</span></th>
        <th id="sortKey" class="hidden-mobile text-center"><span title="Sorter etter toneart" data-toggle="tooltip" data-placement="top"><i class="fa fa-music" aria-hidden="true"></i></span></th>
        <th class="hidden-mobile"></th>
      </tr>

    </thead>
    <tbody>
      {{#EasySearch.Each index=songsIndex }}
        <tr class="clickable-row" data-link="{{pathFor route='Song'}}">
          <td><strong class="songTitle">{{title}}</strong></td>
          <td>{{artist}}</td>
          <td class="hidden-xs">
            {{genre}}
          </td>
          <td class="hidden-mobile text-center">
            {{#if key}}
              {{key}}
            {{else}}
              –
            {{/if}}
          </td>
          <td class="hidden-mobile text-right">
            {{#if spotify}}
              <i class="fa fa-spotify" aria-hidden="true"></i>
            {{/if}}
            {{#if track}}
              <i class="fa fa-headphones" aria-hidden="true"></i>
            {{/if}}
            {{#if chords}}
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            {{/if}}
            {{#if file}}
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            {{/if}}
          </td>
        </tr>
      {{/EasySearch.Each}}
    </tbody>
  </table>

  {{> EasySearch.Pagination index=songsIndex customRenderPagination="myPagination"}}

  {{#EasySearch.IfNoResults index=songsIndex}}
    <div>Beklager, ingen resultater</div>
  {{/EasySearch.IfNoResults}}
</template>

<template name="myPagination">
  <nav class="text-center">
    <ul class="pagination">
      {{#each page}} 
        <li class="page {{pageClasses this}}"> <a href="#">{{content}}</a> </li>
       {{/each}}
    </ul>
  </nav>
</template>
