<template name="Song">
  <div class="container marginContainer">
    {{> autoformModals}}
    <div class="row topRow">
      <div class="col-xs-4">
        <a class="btn btn-default btn-tt" href="{{pathFor route='Home'}}" download><i class="fa fa-chevron-left"></i> Tilbake</a>
      </div>
      <div class="col-xs-8 text-right">
        {{#if favorites}}
          <button class="btn btn-success btn-tt tooltipButtonRemove" title="Fjern fra favoritter" data-toggle="tooltip" data-placement="top" data-action="removeLikes">
            <span class="fa fa-star" style=""></span>
          </button>
        {{else}}
          <button class="btn btn-default btn-tt tooltipButtonAdd" title="Sett som favoritt" data-toggle="tooltip" data-placement="top" data-action="addLikes">
            <span class="fa fa-star" style=""></span>
          </button>
        {{/if}}
        {{#if isOwner}}
          <a class="btn btn-info btn-tt" href="{{pathFor route='editSong'}}">Endre</a>
          {{#afModal class="btn btn-danger btn-tt" formId="deleteSongModal" collection="Songs" operation="remove" doc=_id buttonContent="Slett" buttonClasses="btn btn-danger deleteSong" prompt="Vil du virkelig slette denne sangen?" title="Slett"}}
            Slett
          {{/afModal}}
        {{else}}
          {{#if isInRole 'admin'}}
            <a class="btn btn-info btn-tt" href="{{pathFor route='editSong'}}">Endre</a>
            {{#afModal class="btn btn-danger btn-tt" formId="deleteSongModal" collection="Songs" operation="remove" doc=_id buttonContent="Slett" buttonClasses="btn btn-danger deleteSong" prompt="Vil du virkelig slette denne sangen?" title="Slett"}}
              Slett
            {{/afModal}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-xs-12 songInfo">
        <h2 class="songTitle">{{title}}</h2>
        <h5><strong>Artist:</strong> <a href="{{pathFor route='artist'}}">{{artist}}</a></h5>
        <h5><strong>Sjanger:</strong> {{genre}}</h5>
        <h5><strong>Toneart:</strong> {{key}}</h5>
        <h5><strong>Lagt til av:</strong> {{userName}}</h5>
        {{#if spotify}}
          <iframe id="spotifytrack" src="https://embed.spotify.com/?uri={{spotify}}" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
        {{/if}}
        {{#if track}}
          <audio controls style="width:100%;">
            <source src="{{track}}">
          </audio>
        {{/if}}
        <div class="saveButtons text-center">
          {{#if file}}
            <a class="btn btn-default btn-tt lastned" href="{{file}}" download><i class="fa fa-download"></i> Last ned noter</a><br>

          {{/if}}
          {{#if track}}
            <a class="btn btn-default btn-tt lastned" href="{{file}}" download><i class="fa fa-download"></i> Last ned playback</a><br>
          {{/if}}
          {{#if chords}}
            <a id="printChords" class="btn btn-default btn-tt lastned"><i class="fa fa-print"></i> Skriv ut akkorder</a>
          {{/if}}
        </div>
        <div class="saveButtonMobile text-center">
          {{#if file}}
            <a class="btn btn-default btn-tt lastned" href="{{file}}">Se noter</a>
          {{/if}}
        </div>
        {{#if likes}}
          <span class="likes">{{likes}} <i class="fa fa-thumbs-up"></i></span>
        {{/if}}
      </div>
      <div class="col-sm-8 col-xs-12">
        {{#if chords}}
          <pre id="printable" data-key="{{key}}">{{chords}}</pre>
        {{/if}}
        {{#if file}}
          {{#if pdf}}
            <object data="{{file}}" type="application/pdf" class="embedObject"></object>
          {{else}}
            <img src="{{file}}" class="img-responsive">
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
